<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498016822640-alhtcc0jnv7h59si6o4qi13id9vnkt77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498016822640-alhtcc0jnv7h59si6o4qi13id9vnkt77</string>
	<key>API_KEY</key>
	<string>AIzaSyAS3NAmeJahw5PehyzxebknRceR2hxfSSs</string>
	<key>GCM_SENDER_ID</key>
	<string>498016822640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.budgetManagement</string>
	<key>PROJECT_ID</key>
	<string>budget-a06e1</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-a06e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498016822640:ios:a72f3e3b1d6fbe1aefdbb5</string>
</dict>
</plist>